__pycache__/
*.py[cod]
.venv/
data/raw/
results/*
!results/.gitkeep
!results/v1/
!results/v1/**
!results/phase1/
!results/phase1/**
.vercel
.env*
!results/dkasc-alice-springs-2025/
!results/dkasc-alice-springs-2025/*.json
